<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login Notification</title>
</head>
<body>

    <p>Hi <span th:text="${name}"></span>,</p>
    <p>You have successfully logged in at <span th:text="${timestamp}"></span></p>
    <p>Feel free to use our payment gateway service for secure and fast money transfer.
    Our service is most secure and efficient while working under the hoods of most secure and robust framework.</p>

    <p>For any query please contact us on <a href="https://support.google.com">www.swiftpay.com</a></p>

    <p>Best Regards -: <br>Team SwiftPay</p>

</body>
</html>